{% extends 'layout.html' %}

{% block body %}
{% include 'navbar.html' %}
<!--<form href="/home" method="post">
USER:<input type="text" id="name" name="username">
PASSWORD:<input type="password" id="pass" name="password">
<button class="btn btn-primary">submit</button>
</form>-->

<table class=".table" border="10px">
         <thead>
            <tr>
               <th>Name</th>
               <th>Pass</th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.user }}</td>
                  <td>{{ student.passw }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}